version: '3'
services:
  postgres:
    image: postgres:17.5
    restart: always
    environment:
      POSTGRES_DB: guacamole_db
      POSTGRES_USER: guac_admin
      POSTGRES_PASSWORD: CompNet2486
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - guacnet
  guacd:
    image: guacamole/guacd
    restart: always
    networks:
      - guacnet
  guacamole:
    image: guacamole/guacamole
    restart: always
    ports:
      - "8080:8080"
    environment:
      POSTGRES_HOSTNAME: postgres
      POSTGRES_DATABASE: guacamole_db
      POSTGRES_USER: guac_admin
      POSTGRES_PASSWORD: CompNet2486
      GUACD_HOSTNAME: guacd
    depends_on:
      - postgres
      - guacd
    networks:
      - guacnet
  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - guacamole
    networks:
      - guacnet
volumes:
  postgres_data:
networks:
  guacnet:
  

